#tile-view-mode {
    background: lightgray;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2em;
    overflow: scroll;
}
h1#tile-view-header {
    margin-left: 2em;
}
.tile-bg {
    float: left;
    padding: 0.5em;
    margin: 0em;
    border-radius: 0px;
    display: inline-table;
}
.tile-bg.displayed-tile {
    background: #5bc0de;
}
.tile {
    position: relative;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
}
.tile.current-tile {
    background: #f89406;
}
.tile:hover {
    background: #049cdb;
}
.tile:active {
    background: #2f96b4;
}
/* tile container width, height is set using inline style in javascript */
.tile-container {
    position: relative;
    box-shadow: 5px 5px 10px black;
}
